.scroll-animations-example {
    display: block;
    margin: auto;
}
.scrollsection {
    position: absolute;
    display: block;
    top: 10;
    left: 0;
    width: 377px;
    max-height: 100%;
    margin: 10px;
    /* background: #abc; */
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg);
    transform-origin: right top;
    padding: 50px 0px;
}

.scrollsection > div{
    transform:rotate(90deg);
    /* transform-origin: right top; */
    display: inline-block;
    width: 350px;
    height: 250px;
    overflow: hidden;
    margin: 50px;
    border-radius: 5px;
}


.image {
    width: 100%;
    height: auto;
    /* filter: grayscale(100%); */
    transition: 0.8s ease;
}

.image:hover {
    transform: scale(1.2);
}
  

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    opacity: 1 !important;
    max-width: 1200px;
}

.modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1em;
    margin-top: 32px;
}

.modal-content,
.modal-caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-atransform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


